Release*/
Debug*/
build/
html/
Test-Suite
Release+Asserts/
Debug+Asserts/
autoconf/
tests/result/
doxygen/
.*
!.gitignore
!.config.in
*~
*.o
*.out
*.ll
*.bc
*.opt
*.log
*.status
*.obj
*.svf
cmake-build-debug/
compile_commands.json
*.cflags
*.config
*.creator
*.user
*.cxxflags
*.files
*.includes

